* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--black: #141414;
	--index: calc(1vw + 1vh);
	--transition: 1.25s cubic-bezier(.2, .5, 0, 1);
	--transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: arsenal_f;
	src: url(../fonts/arsenal-regular.woff2);
}
body {
	background-color: #f0f0f0;
}
.header {
	padding:0 0 calc(var(--index) * 2.4) 0;
	font-family: arsenal_f, sans-serif;
	font-size: calc(var(--index) * 2.4);
	overflow: hidden;
}
.header__text {
	text-align: center;
	padding: calc(var(--index) * 2.75);
	background-size: cover;
	background-position: center;
	height:90vh ;
	color: aliceblue;
	transition: background-image 2.2s ease-in-out;
}
.background-img {
	background-image: url('img/1011.jpg');
  }
.magic-list {
	font-family: arsenal_f, sans-serif;
	font-size: calc(var(--index) * 2.4);
	padding: calc(var(--index) * 1.7) calc(var(--index) * 2.75) calc(var(--index) * 2.75) calc(var(--index) * 2.75);
}
.magic-list__item {
	/* cursor: none; */
	color: var(--black);
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	line-height: .9;
	padding: calc(var(--index) * 3) calc(var(--index) * 3) calc(var(--index) * 3) calc(var(--index) * 7.5);
	border-bottom: 1px solid rgb(0 0 0 / .09);
	counter-increment: my-counter;
}
.magic-list__item:first-child {
	border-top: 1.5px solid var(--black);
}
.magic-list__header {
	width: max-content;
	transition: transform var(--transition);
	will-change: transform;
}
.magic-list__item::before {
	content: '(0' counter(my-counter) ')';
	font-size: calc(var(--index) * .95);
	margin-left: calc(var(--index) * -2.25);
	margin-top: calc(var(--index) / 2);
	letter-spacing: .5px;
	transition: transform var(--transition);
	transition-delay: .025s;
	will-change: transform;
}
.magic-list__item:hover .magic-list__header,
.magic-list__item:hover::before {
	transform: translate3d(calc(var(--index) * -5), 0, 0);
}

.btn__list {
	display: flex;
	justify-content: center;
	padding: calc(var(--index) * 1) calc(var(--index) * 3) calc(var(--index) * .5) calc(var(--index) * 3);
}

.btn__downlod{
	margin: calc(var(--index) * 1);
	padding: calc(var(--index) * .5) calc(var(--index) * 1.2) ;
	font-size: calc(var(--index) * 1);
	cursor: pointer;
	border: none;
	border-left: 1.75px solid var(--black);
	border-right: 1.75px solid var(--black);
	transition: padding, font-size, var(--transition)
}

.btn__downlod:hover {
	padding: calc(var(--index) * .5) calc(var(--index) * 1.2) ;
	letter-spacing: calc(var(--index) * .18);
}

.cursor {
	--width: calc(var(--index) * 22);
	--height: calc(var(--index) * 14);
	margin-left: auto;
	/* position: fixed; */
	width: var(--width);
	height: 0;
	top: calc(var(--height) * -.5);
	left: calc(var(--width) * -.5);
	overflow: hidden;
	transform: translate3d(var(--move-x), var(--move-y), 0);
	transition: transform var(--transition-cursor), height 1s ease;
	z-index: -1;
	will-change: transform;
}
.magic-list__item:hover .cursor {
	height: var(--height);
}
.cursor__image {
	--cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
	position: relative;
	width: calc(var(--width) * 1);
	height: calc(var(--height) * 1);
	/* top: calc(var(--height) * -.4); */
	/* left: calc(var(--width) * -.25); */
	background-size: cover;
	background-position: center;
	transform: var(--cursor-transform) scale(1.5);
	transition: transform var(--transition-cursor);
	will-change: transform;
} */
 .magic-list__item:hover .cursor__image { 
	transform: var(--cursor-transform) scale(1);
	will-change: transform;
}
